@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.woff2") format("woff2"),
    url("./assets/fonts/Inter.woff") format("woff"),
    url("./assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.woff2") format("woff2"),
    url("./assets/fonts/Montserrat.woff") format("woff"),
    url("./assets/fonts/Montserrat.ttf") format("truetype");
}
