.container {
  max-width: 1140px;
  margin: 0 auto;

  @include big-desktop {
    max-width: 100vw;
    padding: 0 2.5vw;
  }

  @include small-tablet {
    padding: 0 15px;
  }
}


.hidden {
  display: none;
}
