/* Fonts */
$main-font: Inter, sans-serif;
$secondary-font: Montserrat, sans-serif;

/* Color */
$main-background: #0e1014;

$main-text: #e4e5eA;
$footer-name: #656566;

$gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;

$btn-color: #4077f3;
$hover-btn-color: #5084ff;

$hover-main-color: #fcb045;

$header-color: rgba(14, 16, 20, 0.5);

/* Breakpoints */
$big-desktop: 1200px;

$big-tablet: 960px;
$small-tablet: 767px;

$middle-mobile: 480px;


/* Padding */
$btn-padding-x: 21px;
$btn-padding-y: 35px;

/* Transition */
$transition: 0.5s;
