.consultation {
  display: flex;
  justify-content: space-between;

  &__primary-title {
    margin-bottom: 30px;
  }

  &__header-paragraph {
    max-width: 275px;
    font-family: $secondary-font;
    font-size: 1.8rem;
  }

  &__gifts {
    margin-top: 15px;
    max-width: 300px;
    text-align: right;
  }

  &__gift {
    display: block;
    margin-bottom: 6px;

    font-size: 1.8rem;
    font-weight: 500;
  }

  &__gifts-paragraph {
    margin-bottom: 40px;

    font-size: 1.8rem;
    font-weight: 700;
  }

  &__gift-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 61px;
  }

  &__gift-description {
    font-family: $secondary-font;
  }
}
