.footer {
  padding: 55px 0 20px;
  
  @include small-tablet {
    padding: 45px 0 60px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 33px;

    @include big-desktop {
      row-gap: 30px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 20px;

    color: $footer-name;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.21;

    @include small-tablet {
      font-size: 1.2rem;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 98px;
  }

  &__menu-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 52px;
    row-gap: 10px;

    .gratitude {
      @include small-tablet {
        display: none;
      }
    }

    .case {
      @include small-tablet {
        grid-column: 2;
        grid-row: 2;
      }
    }

    .hidden {
      @include small-tablet {
        display: block;
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  &__contacts {
    margin-left: auto;
    text-align: right;

    @include big-desktop {
      margin-left: 0;
      width: 100%;

      text-align: left;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__social-media {
    gap: 10px;
    justify-content: flex-end;

    @include big-desktop {
      justify-content: flex-start;
    }
  }

  .privacy-policy {
    width: 100%;

    font-family: $secondary-font;
    font-size: 1.2rem;
    text-align: right;

    &__link {
      margin-top: 5px;
      text-decoration: underline;
    }

    @include big-desktop {
      text-align: left;
    }
  }
}
